


<footer>
  <div class="{% if fluid_layout %}container-fluid{% else %}container{% endif %}">
    <div class="row">
      <div class="col-xs-6">
        <h3 class="footer-title">Our app &ldquo;{{data.team.app.name}}&rdquo;</h3>
        <p>
          {{data.team.app.value}}
        </p>

        <ul class="team-app-details">
          <li>
            <a href="{{data.team.app.url}}">
              <i class="fa fa-globe"></i>
              {{data.team.app.url}}
            </a>
          </li>
          <li>
            <a href="{{data.team.app.repo}}">
              <i class="fa fa-github-alt"></i>
              {{data.team.app.repo}}
            </a>
          </li>
          <li>
            <a href="http://twitter.com/{{data.team.app.twitter_username}}">
              <i class="fa fa-twitter"></i>
              @{{data.team.app.twitter_username}}
            </a>
          </li>
        </ul>
      </div> <!-- /col-xs-7 -->

      <div class="col-xs-6 footer-banner-holder">
        <div class="footer-banner">
          <h3 class="footer-title">Team {{data.team.name}} is...</h3>
          <ul>
            {% for member in data.team.members %}
              <li>
                {{member.first_name}} {{member.last_name}}
                <a class="contact-member" href="http://directory.yale.edu/?queryType=term&pattern={{member.first_name}}%20{{member.last_name}}"><i class="fa fa-address-book-o"></i></a>
                <a class="contact-member" href="mailto:{{member.email}}?subject=CPSC213"><i class="fa fa-envelope-o"></i></a>
              </li>
            {% endfor %}
            <li>
              Email team:
              <a class="contact-member" href="mailto:{% for member in data.team.members %}{{member.email}}{% if not loop.last %},{% endif %}{% endfor %}?subject=CPSC213">
                <i class="fa fa-envelope-o"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
